<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Vitrage demo</title>
  <meta name="description" content="Vitrage complex content editing system demo website">
  <%= favicon_link_tag '/favicon.ico', rel: 'icon', sizes: '16x16 32x32 48x48 64x64' %>
  <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
  <link rel="apple-touch-icon" href="/apple_touch_icon.png">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :more_stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="mjrh">
    <div class="holder">
      <%= link_to image_tag('vitrage_logo.png', width: 140), root_url %>
      <% if @page %>
        <nav class="page-nav">
          <% if params[:action] == 'show' %><a href="<%= edit_page_path(@page.slug) %>">Page's edit mode</a><% end %>
          <% if params[:action] == 'edit' %><a href="<%= page_path(@page.slug) %>">Page's show mode</a><% end %>
        </nav>
      <% end %>
    </div>
  </header>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
  <%= yield :more_javascript %>
</body>
</html>
